global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 1h
  timeout server 1h

resolvers docker
  nameserver dns 127.0.0.11:53
  hold valid 10s

frontend otlp_grpc
  bind *:4317
  default_backend alloy_collectors

backend alloy_collectors
  balance roundrobin
  option httpchk GET /-/healthy
  http-check expect status 200
  server alloy-1 alloy-1:4317 check port 12345 resolvers docker init-addr libc,none
  server alloy-2 alloy-2:4317 check port 12345 resolvers docker init-addr libc,none
