name: pass unit tests

on:
  push:
    branches: [main, develop]
    paths:
      - '**.cs'
      - '**.csproj'
  pull_request:
    branches: [main, develop]
    paths:
    - '**.cs'
    - '**.csproj'

env:
  DOTNET_VERSION: '10.0.100'
  NODE_VERSION: '24'

jobs:
  pass-backend-unit-tests:

    name: Pass backend unit tests on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Test backend
      run: dotnet test server

  pass-frontend-unit-tests:
    name: Pass frontend unit tests on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Install dependencies
      run: npm ci
      working-directory: client

    - name: Test frontend
      run: npm run test
      working-directory: client